.banner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin: 50px auto;
    z-index: -100;
}

.banner .slider{
    position: relative;
    width: 400%;
    display: flex;
    animation:moverse 15s infinite linear alternate;
   
}

.banner .slider li{
    position: relative;
    list-style: none;
    width: 100%;;
}

.banner .slider li img{
    position: absolute;
    width: 100%;
    margin: auto;
}


.banner h2{
    font-size: 28px;
}


@keyframes moverse{
    0%,20%{
        margin-left: 0px;
    }
    25%,45%{
        margin-left: -100%;
    }
    50%,70%{
        margin-left: -200%;
    }
    75%,100%{
        margin-left: -300%;
    }
}


/* @media para responsive */

@media (min-width:480px)/*a partir de esta resolucion los tamanos y el margen top cambiaran para escritorio y tablet*/{
    .banner h2{
        font-size: 48px;
    }
    
    .banner a{
        margin-top: 25px;
    }
    
}

@media (min-width:768px)/*a partir de esta resolucion el tamaño del baner cambiara para tablet*/{
    .banner {
        height: 500px;
        overflow: hidden; /* para que la imagen no se salga del contenedor*/
    }
    
    .banner .slider li img{
        height: auto;
        margin-top: -100px;
    }
}

@media (min-width:1024px)/*a partir de esta resolucion el tamaño del baner cambiara para escritorio*/{
    .banner .slider li img{
        margin-top: -200px;
    }
}